.main{
  width:500px;
  border: 1px solid red;
  margin: 10px 10px;
  text-align: center;

}
.main > h2 {background-color: antiquewhite}
.main > .add-item {background-color: burlywood;}
.main > ul{background-color: skyblue;padding: 3%;list-style: none}
.main > ul > li > span {float: right}
