<h1>
  {{title}}

</h1>

<script>

</script>
<h2>  {{obj.id }}
  {{obj.name | uppercase}}</h2>
<ul>
  <li *ngFor="let i of arr">{{i}}</li>
</ul>
<p *ngIf="!isTrue; else firstemp">Hello</p>
<ng-template #firstemp > the is fmth vght</ng-template>
<p *ngIf="myNAme != 'weu'">hi</p>
<button (click)="onclick($event,myinput.value)">hello</button>
<input #myinput type="text">
<!--<p>{{mail.message}}</p>-->
<!--<p>{{api}}</p>-->
<ul>
  <!--<li *ngFor="let a of mail.message">-->
    <!--{{a}}-->
  <!--</li>-->
</ul>
<div class="main">
<h2>Items List</h2>
<div class="add-item">
  <input [(ngModel)]= "newitems" type="text">
  <button (click)="pushitems()" >add</button>
</div>
<ul>
  <li *ngFor="let i of items; let ind = index" >{{i}}<span (click)="remove(ind)">X</span></li>
</ul>
</div>
<p>{{day}}</p>
<p>{{day | date: 'shortDate'}}</p>
<p>{{day | date: 'fullDate'}}</p>
<input type="text" [(ngModel)]="myimage"><button (click)="loadimage()">Images</button>
<input type="text"><button (click)="uploadsongs()">songs</button>
<!--<form action="post" #upload_song (ngSubmit)="onSubmit(upload_song.value)">-->
  <!--<div  class="form-group col-md-5">-->
    <!--<label for="">ID</label>-->
    <!--<input type="number" #songid class="form-control">-->
  <!--</div>-->
  <!--<div  class="form-group  col-md-5">-->
    <!--<label for="">TITLE</label>-->
    <!--<input type="text" #songtitle class="form-control">-->
  <!--</div>-->
  <!--<div  class="form-group col-md-5">-->
    <!--<label for="">ARTIST</label>-->
    <!--<input type="text" #songartist class="form-control">-->
  <!--</div>-->
  <!--<div  class="form-group col-md-5">-->
    <!--<label for="">RELEASE YEAR</label>-->
    <!--<input type="number" #release class="form-control">-->
  <!--</div>-->
  <!--<div  class="form-group col-md-5">-->
    <!--<label for="">GENRE</label>-->
    <!--<input type="text" #genre class="form-control">-->
  <!--</div>-->
  <!--<div  class="form-group col-md-5">-->
  <!--<button type="submit" (click)="loadsong()">Uploadsongs</button>-->
  <!--</div>-->
<!--</form>-->
<ul>
  <li *ngFor ="let image of data.hits">
    <img [src]="image.webformatURL" />
    <span>
      <strong>LIKES</strong>
      {{image.likes}}
    </span>
  </li>
</ul>
<ul>
  <li *ngFor="let song of songs">
  <p>Album ID: {{song.id}}</p>
    <p>Title: {{song.title}}</p>
  </li>
</ul>



<app-sidebar></app-sidebar>
<app-header (messagevent)="recievemessage($event)">
 Message : {{message}}
</app-header>
<app-rightsection></app-rightsection>
<app-footer>

</app-footer>
