<h2>template form</h2>
<div class="ui-grid-row ">
  <!--<form #userform="ngForm" (ngSubmit)="onSubmit(userform.value)">-->
    <!--<div class="form-group col-md-6">-->
      <!--<label>Name</label>-->
      <!--<input type="text" #nameRef="ngModel" required minlength="4" class="form-control" name="name"-->
             <!--[(ngModel)]="myName">-->
      <!--<p> {{myName}}</p>-->
      <!--<div [hidden]="nameRef.valid || nameRef.pristine" class="alert alert-danger">Please enter correct name</div>-->
      <!--<b>{{nameRef.className}}</b>-->
      <!--<div *ngIf="nameRef.errors && (nameRef.dirty || nameRef.touched)" class="alert alert-danger ">-->
        <!--<div [hidden]="!nameRef.errors.required">Please enter the name</div>-->
        <!--<div [hidden]="!nameRef.errors.minlength">Please enter atleast 4 characters</div>-->

      <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group col-md-6">-->
      <!--<label>Email</label>-->
      <!--<input type="email" #email="ngModel"-->
             <!--pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" class="form-control"-->
             <!--name="email" [(ngModel)]="myEmail" required email>-->
      <!--<div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">-->
        <!--<div [hidden]="!email.errors.required">Please enter the email</div>-->
        <!--<div [hidden]="!email.errors.pattern">Please enter valid email</div>-->
      <!--</div>-->
      <!--<div ngModelGroup="adress">-->
        <!--<div class="form-group col-md-6">-->
          <!--<label>Phone Number</label>-->
          <!--<input type="text" #phone="ngModel" maxlength="10" minlength="10" required class="form-control" name="phone"-->
                 <!--[(ngModel)]="myphone">-->
          <!--<div *ngIf="phone.errors && (phone.dirty || phone.touched)" class="alert alert-danger">-->
            <!--<div [hidden]="!phone.errors.required">Please enter the phone number</div>-->
            <!--<div [hidden]="!phone.errors.minlength">Please enter a 10 digit mobile number</div>-->
            <!--&lt;!&ndash;<div [hidden]="!phone.errors.pattern">Please enter valid Mobile number</div>&ndash;&gt;-->

          <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group col-md-6">-->
          <!--<label>City</label>-->
          <!--<input type="text" class="form-control" name="city" [(ngModel)]="myCity">-->


        <!--</div>-->
      <!--</div>-->
      <!--<button type="submit" class="btn btn-success" [disabled]="!userform.form.valid">Submit</button>-->
    <!--</div>-->
  <!--</form>-->

</div>

<h2>Reactive forms</h2>
<div class="ui-g-12">
  <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Name</label>
      <input type="text" #refername class="form-control" formControlName="name">
      <p>{{refername.className}}</p>
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" formControlName="email">
    </div>
    <div formGroupName="address">
      <div class="form-group">
        <label>City</label>
        <input type="text" class="form-control" formControlName="city">
      </div>
      <div class="form-group">
        <label>Phone</label>
        <input type="text" class="form-control" formControlName="phone">
      </div>
      <div class="form-group">
        <label>Street</label>
        <input type="text" class="form-control" formControlName="street">
      </div>
      <div class="form-group">
        <button type="submit" class="form-control btn btn-primary"></button>
      </div>
    </div>
  </form>
</div>

